<template>
  <v-container>
    <v-row
        no-gutters
    >
      <v-col cols="12">
        <v-file-input
            v-model="file"
            :show-size="1000"
            color="deep-purple accent-4"
            counter
            label="File input"
            outlined
            placeholder="Upload your svg"
            prepend-icon="mdi-paperclip"
            @change="showUploaded"
        >
          <template v-slot:selection="{ index, text }">
            <v-chip
                v-if="index < 2"
                color="deep-purple accent-4"
                dark
                label
                small
            >
              {{ text }}
            </v-chip>

            <span
                v-else-if="index === 2"
                class="text-overline grey--text text--darken-3 mx-2"
            >
        +{{ file.length - 2 }} File(s)
      </span>
          </template>
        </v-file-input>
      </v-col>
      <v-col v-if="imageSource" cols="6">
        <v-container class="rounded ma-2">
          Uploaded image:
          <v-img :src="imageSource"/>
        </v-container>
      </v-col>
      <v-col v-if="imageSource" cols="6">
        <v-container class="rounded ma-2" v-if="fetchedGcode">
          Processed g-code image:
          <gcode-viewer :raw-gcode="fetchedGcode" :key="fetchedGcode"/>
        </v-container>
        <v-container v-else>
          G-code not yet processed.
        </v-container>
      </v-col>

      <v-col class="mt-4" cols="12">
        <v-btn @click="uploadFile">
          upload files
        </v-btn>
        <v-btn @click="fetchGcode">
          Generate gcode
        </v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>


import GcodeViewer from "@/components/gcode_viewer/GcodeViewer";
import {request} from "@/utils/request";

export default {
  name: "MainPage",
  components: {GcodeViewer},
  data() {
    return {
      file: [],
      imageSource: "",
      uploadDialog: false,
      fetchedGcode: null,
    }
  },
  methods: {
    showUploaded(file) {
      if (!file) return;
      this.imageSource = URL.createObjectURL(file);
    },
    async uploadFile() {
      const formData = new FormData();
      formData.append('file', this.file, this.file.name);
      const url = "http://0.0.0.0:5000/api/upload-file"
      const xhr = new XMLHttpRequest();
      xhr.onreadystatechange = () => {
        console.log("file uploaded brawo")
      };
      await xhr.open('post', url);
      await xhr.send(formData);
    },
    async fetchGcode() {
      const {res, data} = await request(
          {
            url: "http://0.0.0.0:5000/api/gcode/generate",
            query: {filename: this.file.name}
          })
      if(res.status === 200){
        this.fetchedGcode = data["gcode"];
      }
    },
  }
}
</script>

<style scoped>

</style>