<template>
  <div>
    <v-row no-gutters>
      <v-col cols="12">
        <canvas
            id="tutorial"
            :height="canvasSize.x"
            :width="canvasSize.y"
            @mousedown="handleMouseDown"
            @mousemove="handleMouseMove"
            @mouseup="handleMouseUp"
            @scroll="handleScroll"
        ></canvas>
      </v-col>
      <v-col class="" cols="12">
        <v-icon large @click="magnify(1)">
          mdi-magnify-plus
        </v-icon>
        <v-icon large @click="magnify(-1)">
          mdi-magnify-minus
        </v-icon>
      </v-col>
    </v-row>
  </div>
</template>

<script>

const commands = {
  penDown: "M3",
  penUp: "M5"
}

export default {
  name: "GcodeViewer",
  data() {
    return {
      canvas: null,
      isDragging: false,
      gcodeSize: null,
      prevCords: {
        x: 0,
        y: 0,
      },
      parsedGcode: [],
      canvasSize: {
        x: 1500,
        y: 1500,
      },
      scale: 3,
      translation: {
        x: 0,
        y: 0,
      },
      ctx: null,
    }
  },
  props:{
    rawGcode:{
      type: String,
      default: "",
    }
  },
  mounted() {
    this.canvas = document.getElementById('tutorial')
    // canvas.height = canvas.width;
    this.ctx = this.canvas.getContext('2d');
    this.parseGcode();
    this.findGcodeSize();
    this.scale = this.canvasSize.x / (this.gcodeSize * 1.1);
    this.translation.x = this.gcodeSize * 1.1/2;
    this.translation.y = this.gcodeSize * 1.1/2;
    this.drawCanvas();

  },
  methods: {
    findGcodeSize() {
      const xCoords = this.parsedGcode.map((command) => {
        return command.x;
      }).filter((val) => val !== undefined).sort();
      const xDelta = Math.abs(xCoords[0] - xCoords[xCoords.length - 1]);
      const yCoords = this.parsedGcode.map((command) => {
        return command.y;
      }).filter((val) => val !== undefined).sort();
      const yDelta = Math.abs(yCoords[0] - yCoords[yCoords.length - 1]);
      this.gcodeSize = Math.max(xDelta, yDelta);
    },
    magnify(direction) {
      const magnificationConst = 0.3;
      this.scale += magnificationConst * direction;
      this.drawCanvas();
    },
    handleMouseMove(e) {
      if (!this.isDragging) {
        this.prevCords.x = e.clientX;
        this.prevCords.y = e.clientY;
        return;
      }
      if (this.prevCords.x === 0 || this.prevCords.x === 0) {
        this.prevCords.x = e.clientX;
        this.prevCords.y = e.clientY;
        return;
      }
      const xDelta = e.clientX - this.prevCords.x;
      const yDelta = e.clientY - this.prevCords.y;
      this.prevCords.x = e.clientX;
      this.prevCords.y = e.clientY;

      this.translation.x += xDelta;
      this.translation.y += yDelta;
      this.drawCanvas();
    },
    handleMouseDown() {
      this.isDragging = true;
    },
    handleMouseUp() {
      this.isDragging = false;
    },
    handleScroll(e) {
      //todo
      console.log(e);
    },
    parseCommand(line) {
      const elements = line.split(" ");
      const command = elements[0].replaceAll(" ", "").replaceAll(";", "");
      let xCord = elements.find((el) => el[0] === "X");
      let yCord = elements.find((el) => el[0] === "Y");
      xCord = xCord ? parseFloat(xCord.replace("X", "")) : undefined;
      yCord = yCord ? parseFloat(yCord.replace("Y", "")) : undefined;
      return {
        command: command,
        x: xCord,
        y: yCord,
      }
    },
    parseGcode() {
      const gcodeLines = this.rawGcode.match(/[^\r\n]+/g);
      gcodeLines.forEach((line) => {
        const currentCommand = this.parseCommand(line);
        this.parsedGcode.push(currentCommand);
      });
    },
    drawFittingGcode() {
      this.ctx.lineWidth = 5;
      let prevCommand = this.parsedGcode[0];
      this.ctx.beginPath();//todo first penUp doesnt actually work
      this.parsedGcode.forEach((line, index) => {
        if (index === 0) return;
        if (line.command === commands.penUp) {
          this.ctx.strokeStyle = "#0b6ad9";
          this.ctx.stroke();
          this.ctx.closePath();
          this.ctx.beginPath();
        }
        if (line.command === commands.penDown) {
          this.ctx.strokeStyle = "#ea7337";
          this.ctx.stroke();
          this.ctx.closePath();
          this.ctx.beginPath();
        }
        if(line.command === "G1"){
          //this.canvasSize.y - ... fix to mirror the gcode in y axis
          this.ctx.moveTo(prevCommand.x * this.scale + this.translation.x, this.canvasSize.y - prevCommand.y * this.scale + this.translation.y);
          this.ctx.lineTo(line.x * this.scale + this.translation.x, this.canvasSize.y - line.y * this.scale + this.translation.y);
          prevCommand = line;
        }
      });
      this.ctx.stroke();
      this.ctx.closePath();
    },
    drawCanvas() {
      this.ctx.clearRect(0, 0, this.canvasSize.x, this.canvasSize.y);
      this.drawFittingGcode();
    }
  }
}
</script>

<style scoped>
canvas {
  border: 1px solid red;
  width: 100%;
}
</style>